@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Light"), local("../fonts/TTLakes-Light"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("../fonts/TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("../fonts/TTLakes-Medium"), url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("../fonts/TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal; }

.sidebar {
  height: 100vh;
  min-width: 320px;
  width: 100%;
  max-width: 360px;
  z-index: 1000;
  background: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); }
  .sidebar__layout {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    min-height: 100%;
    flex-direction: column; }
    @media (min-width: 1120px) {
      .sidebar__layout {
        display: flex;
        position: relative;
        min-height: 50%; } }
  @media (min-width: 1120px) {
    .sidebar {
      box-shadow: none;
      min-width: 306px; } }

.sidebar-main__layout {
  flex-grow: 1; }

.sidebar-modal__layout {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

@media (min-width: 1440px) {
  .sidebar-modal__icon {
    position: absolute;
    left: -64px;
    top: 61px;
    background: transparent; } }

.sidebar-modal__main {
  display: flex;
  flex-direction: column; }

.sidebar-modal__main-layout {
  padding: 16px;
  gap: 16px; }

.sidebar-modal__input {
  display: flex;
  flex-direction: column;
  gap: 16px; }

.sidebar-modal__input-item {
  padding: 12px 16px;
  border: 1px solid #EAEAEA;
  color: #B5B6BC;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px; }

.sidebar-modal__text {
  font-size: 14px;
  line-height: 18px;
  color: #7E7E82; }

.sidebar-modal__title {
  letter-spacing: -0.6px;
  font-size: 24px;
  line-height: 32px;
  color: #1B1C21;
  font-weight: 800; }
  .sidebar-modal__title::before {
    content: ' ';
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #41F6D7; }
  @media (min-width: 1440px) {
    .sidebar-modal__title ::before {
      border-radius: 10px; } }

@media (min-width: 1440px) {
  .sidebar-modal {
    border-left: 1px solid #B8FFEC;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }

.sidebar-header-modal__layout {
  padding: 24px 16px; }

.sidebar-header {
  display: flex; }
  .sidebar-header__layout {
    padding: 18px 24px; }
  .sidebar-header__item-close-burger {
    margin-right: 18px; }
    @media (min-width: 1120px) {
      .sidebar-header__item-close-burger {
        display: none; } }
  .sidebar-header__item-search {
    margin-left: auto; }

.sidebar-main__services {
  display: flex;
  flex-direction: column;
  gap: 32px; }

.sidebar-main__services-item {
  margin-left: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500; }
  .sidebar-main__services-item:first-of-type {
    margin-top: 32px; }
  .sidebar-main__services-item a:hover {
    opacity: .6; }
  .sidebar-main__services-item a:before {
    content: '';
    width: 0;
    height: 0;
    transition: .2s ease;
    transform: translateY(-40px); }
  .sidebar-main__services-item a:hover:before {
    content: '';
    width: 4px;
    height: 32px;
    position: absolute;
    left: 0;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(0px); }

.services-item-link {
  opacity: 1;
  color: #1B1C21;
  transition: .2s ease; }

.sidebar-footer__layout {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-top: auto; }

.sidebar-footer__buttons {
  display: flex;
  gap: 16px; }

.sidebar-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  margin-top: 16px;
  font-weight: 800; }
  .sidebar-footer__contacts-email {
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    transition: .25s ease;
    border-bottom: 1px solid transparent; }
    .sidebar-footer__contacts-email:hover {
      border-bottom: 1px solid #7E7E82; }
  .sidebar-footer__contacts-telephone {
    font-size: 24px;
    line-height: 32px;
    color: #1B1C21;
    letter-spacing: -0.6px;
    transition: .25s ease;
    border-bottom: 1px solid transparent; }
    .sidebar-footer__contacts-telephone:hover {
      border-bottom: 1px solid #7E7E82; }

.sidebar-footer__languages {
  display: flex;
  gap: 7px;
  margin-bottom: 32px; }

.sidebar-footer__languages-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #1B1C21;
  cursor: pointer;
  transition: .2s; }
  .sidebar-footer__languages-item:hover {
    color: #7E7E82; }

.button-modal {
  align-self: flex-end;
  display: flex;
  align-items: center;
  background: #FF3E79;
  border-radius: 16px;
  padding: 4px 16px;
  padding-right: 5px;
  cursor: pointer;
  transition: .3s ease; }
  .button-modal:hover .button-modal__text {
    color: #FF3E79; }
  .button-modal:hover {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 1px 1px #FF3E79; }
  .button-modal__text {
    font-weight: bold;
    padding-right: 0px;
    font-size: 12px;
    padding-right: 0;
    font-family: "TT Lakes";
    line-height: 32px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    transition: .3s ease; }
  .button-modal__icon {
    background: transparent;
    margin-left: 5px; }

.icon-go {
  cursor: pointer;
  transition: .2s ease; }
  .icon-go:hover {
    transform: scale(1.1); }

.button-icon {
  cursor: pointer; }

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.96);
  mix-blend-mode: normal;
  z-index: 1000; }
  .modal-overlay-chat, .modal-overlay-call, .modal-overlay-menu {
    display: none;
    transition: .2s ease; }
  @media (min-width: 1120px) {
    .modal-overlay-menu {
      display: block;
      position: relative; } }

.modal-text {
  color: #FF3E79; }

.header__item--display--hidden {
  display: none; }

.header__left-side, .header__right-side, .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__wrapper {
  margin: auto; }

.header__right-side {
  background: transparent; }

.header-layout {
  padding: 18px 24px;
  background: #FFFFFF; }

.header__item {
  margin-left: 16px; }

@media (min-width: 320px) and (max-width: 768px) {
  .header__left-side .header__item:nth-child(1) {
    margin-left: 0; }
  .header__right-side .header__item:nth-child(4):before {
    content: '';
    position: absolute;
    right: 130px;
    top: 30px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA; } }

@media (min-width: 768px) and (max-width: 1119px) {
  .header__left-side .header__item:nth-child(1):before {
    content: '';
    position: absolute;
    left: 85px;
    top: 30px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA; }
  .header__right-side .header__item:nth-child(3):before {
    content: '';
    position: absolute;
    right: 140px;
    top: 30px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA; } }

@media (min-width: 768px) {
  .header__left-side .header__item {
    margin-left: 0px;
    margin-right: 42px; }
  .header__item--display--hidden {
    display: block; }
  .header__right-side .header__item:nth-of-type(3) {
    margin-right: 25px; }
  .header-layout {
    padding: 18px 24px; }
  .header__wrapper {
    margin: auto; } }

@media (min-width: 1120px) {
  .header__right-side .header__item:nth-of-type(4),
  .header__right-side .header__item:nth-of-type(5) {
    display: flex;
    align-items: center; }
  .header__left-side, .header__item--display--hidden {
    display: none; }
  .header__right-side .header__item {
    margin-right: 32px; }
  .header__wrapper {
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    top: 42px; }
  .header-layout {
    background: #F8F8F8; } }

.main {
  border-top: 1px solid #D9FFF5;
  max-width: 1440px;
  margin: 0 auto;
  background: #F8F8F8; }
  .main__title--display--hidden, .main__item--display--hidden {
    display: none; }
  .main__title {
    display: flex;
    margin-top: 16px; }
    .main__title-left-side {
      display: flex; }
    @media (min-width: 1120px) {
      .main__title-right-side {
        display: flex; } }
    .main__title-text {
      letter-spacing: -0.6px;
      font-size: 28px;
      line-height: 40px;
      margin-left: 12px;
      color: #1B1C21;
      font-weight: 800; }
      @media (min-width: 1120px) {
        .main__title-text {
          margin-left: 32px;
          margin-top: 16px; } }
    .main__title::before {
      content: ' ';
      position: relative;
      width: 4px;
      height: 40px;
      border-radius: 2px;
      background: #41F6D7; }
      @media (min-width: 1120px) {
        .main__title::before {
          margin-top: 16px;
          border-radius: 2px; } }
    @media (min-width: 768px) {
      .main__title {
        margin-top: 24px; } }
    @media (min-width: 1120px) {
      .main__title {
        margin-top: 0px; } }
  @media (min-width: 1120px) {
    .main__item-text {
      font-weight: 500;
      margin-right: 8px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      background: transparent; } }
  @media (min-width: 1120px) {
    .main__item-icon {
      display: flex; } }
  .main__description {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px; }
    .main__description-image {
      margin: 0 auto; }
    .main__description-text-wrapper {
      display: flex;
      flex-direction: column;
      margin: 16px;
      margin-top: 24px;
      gap: 20px;
      overflow-y: hidden;
      max-height: 90px; }
      @media (min-width: 768px) {
        .main__description-text-wrapper {
          padding: 15px;
          padding-top: 0;
          margin: 0;
          margin-right: 35px;
          max-height: 155px; }
          .main__description-text-wrapper p:first-of-type {
            min-height: 80px; } }
      @media (min-width: 1120px) {
        .main__description-text-wrapper {
          padding: 0;
          margin: 0;
          max-height: 180px;
          margin-left: 20px;
          margin-right: 35px;
          padding-left: 5px;
          gap: 15px; } }
    .main__description-button {
      margin-left: 20px;
      background: #F8F8F8; }
      @media (min-width: 768px) {
        .main__description-button {
          margin-left: 10px; } }
      @media (min-width: 1120px) {
        .main__description-button {
          margin-left: 25px;
          margin-top: 14px; } }
    @media (min-width: 768px) {
      .main__description-text {
        margin: 0;
        margin-right: 1px;
        margin-left: -5px;
        padding: 0;
        line-height: 20px;
        overflow: hidden; } }
    @media (min-width: 768px) {
      .main__description {
        flex-direction: row;
        margin: 25px;
        margin-bottom: 0;
        padding-bottom: 32px;
        margin-top: 32px; } }
    @media (min-width: 1120px) {
      .main__description {
        margin-right: 36px;
        margin-top: 20px; } }
  .main__button-text {
    font-weight: 400;
    display: flex; }
    .main__button-text::before {
      content: url(./static/expand.svg);
      position: relative;
      top: -2px; }
  @media (min-width: 768px) {
    .main {
      width: 100%; } }
  @media (min-width: 1120px) {
    .main {
      border: none; } }

.text-wrapper-overflow {
  max-height: 100%; }

@media (min-width: 1120px) {
  .main__item--display--hidden {
    display: block; }
  .description-image {
    min-width: 360px;
    border-radius: 10px; } }

.header-repair {
  border-top: 1px solid #B8FFEC;
  background: linear-gradient(270deg, #F8F8F8, #FFFFFF); }
  .header-repair__layout {
    padding: 16px; }
    @media (min-width: 768px) {
      .header-repair__layout {
        padding: 16px 24px; } }
  .header-repair__text {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    background: transparent; }

.main-repair__layout {
  min-width: 0; }
  @media (min-width: 768px) {
    .main-repair__layout {
      height: 100%; } }

.main-repair__swiper-brand {
  display: flex;
  flex-wrap: nowrap;
  margin: 24px;
  margin-top: 0;
  gap: 24px;
  overflow-x: scroll; }
  @media (min-width: 768px) {
    .main-repair__swiper-brand {
      flex-wrap: wrap;
      overflow-x: hidden; } }
  @media (min-width: 768px) {
    .main-repair__swiper-brand::-webkit-scrollbar {
      width: 0; } }

.main-repair__swiper-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 16px;
  padding: 16px;
  border: 1px solid #EAEAEA;
  width: 240px;
  height: 72px;
  justify-content: space-between;
  border-radius: 6px;
  background: #FFFFFF; }
  .main-repair__swiper-item-text {
    align-self: start;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500; }
  .main-repair__swiper-item-img {
    align-self: flex-end; }
  @media (min-width: 768px) {
    .main-repair__swiper-item {
      width: 224px;
      margin: 0; } }
  @media (min-width: 1120px) {
    .main-repair__swiper-item {
      width: 240px;
      margin: 0; } }

@media (min-width: 768px) {
  .main-repair__swiper--overflow--hidden {
    overflow: hidden;
    max-height: 160px; } }

.main-repair__swiper-brand--overflow--hidden {
  overflow: hidden;
  max-height: 160px; }

@media (min-width: 768px) {
  .main-repair__swiper {
    display: flex;
    flex-wrap: wrap;
    margin: 24px;
    gap: 16px 24px; } }

.main-repair__button {
  display: none; }
  @media (min-width: 768px) {
    .main-repair__button {
      display: flex;
      margin-left: 37px;
      margin-bottom: 32px; } }
  @media (min-width: 768px) {
    .main-repair__button-text {
      font-size: 16px;
      line-height: 24px;
      color: #1B1C21; } }
  @media (min-width: 768px) {
    .main-repair__button-text::before {
      content: url(./static/expand.svg);
      position: relative;
      top: 6px;
      right: 6px; } }

.tech-item {
  height: 160px; }

.swiper-pagination .swiper-pagination-bullet-active {
  background: #B5B6BC; }

.swiper-pagination .swiper-pagination-bullet {
  background: #DDDDDD;
  width: 12px;
  height: 12px; }

.swiper-pagination__wrapper {
  margin-top: 16px; }

.swiper-pagination-tech .swiper-pagination-bullet-active {
  background-color: #B5B6BC; }

.swiper-pagination-tech .swiper-pagination-bullet {
  background-color: #DDDDDD;
  width: 12px;
  height: 12px; }

.swiper-pagination-services .swiper-pagination-bullet-active {
  background-color: #B5B6BC; }

.swiper-pagination-services .swiper-pagination-bullet {
  background-color: #DDDDDD;
  width: 12px;
  height: 12px; }

.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align: center;
  position: relative;
  top: -13px; }

.swiper-tech {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1; }

.swiper-services {
  overflow: hidden; }

@media (min-width: 768px) {
  .swiper-slide {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; } }

.section-repair-services-table--display--none {
  display: none; }

.table {
  flex-direction: row;
  overflow-x: auto;
  display: block;
  box-sizing: border-box; }
  .table::-webkit-scrollbar {
    width: 0; }
  .table__layout {
    padding: 24px; }
  .table__card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 16px;
    margin-left: 8px;
    gap: 16px;
    width: 95%;
    flex-shrink: 0;
    max-width: 300px;
    border-radius: 6px;
    background: #FFFFFF; }
    @media (min-width: 768px) {
      .table__card:first-of-type {
        background: #F8F8F8; } }
    @media (min-width: 768px) {
      .table__card:not(:nth-of-type(1)):not(:nth-of-type(2)):after {
        content: '';
        position: absolute;
        left: 20px;
        top: 0;
        height: 1px;
        width: 95%;
        background: #EAEAEA; } }
    .table__card-button {
      display: flex;
      align-self: end;
      padding: 5px 12px;
      background: #FF3E79;
      border-radius: 16px;
      transition: .3s ease;
      margin-right: -5px; }
      .table__card-button-layout {
        position: absolute;
        margin: 16px;
        bottom: 0px;
        right: 0; }
        @media (min-width: 768px) {
          .table__card-button-layout {
            position: static;
            background: #FFFFFF; } }
      .table__card-button-text {
        background: transparent;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0.30px;
        transition: .3s ease; }
      .table__card-button:hover .table__card-button-text {
        color: #FF3E79; }
      .table__card-button-icon {
        background: transparent;
        margin-left: 8px; }
      .table__card-button:hover {
        background: #FFFFFF;
        box-shadow: inset 0px 0px 1px 1px #FF3E79; }
      @media (min-width: 768px) {
        .table__card-button {
          position: static; } }
    @media (min-width: 768px) {
      .table__card:first-of-type .table__card-button {
        position: relative; } }
    @media (min-width: 768px) {
      .table__card:not(:first-of-type) .table__card-item-span {
        display: none; } }
    .table__card-span {
      color: #7E7E82;
      line-height: 18px; }
    .table__card-text {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600; }
    .table__card-item {
      display: flex;
      flex-direction: column;
      gap: 4px;
      background: transparent; }
      @media (min-width: 768px) {
        .table__card-item {
          padding: 24px;
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: #1B1C21; } }
      @media (min-width: 768px) {
        .table__card-item-text {
          font-size: 14px;
          line-height: 18px;
          color: #1B1C21;
          letter-spacing: 0.2px; } }
  .table__footer {
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding-bottom: 50px;
    gap: 16px; }
    .table__footer-text {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #1B1C21;
      font-weight: 500;
      max-width: 421px; }
    .table__footer-button {
      display: flex;
      align-items: center;
      cursor: pointer; }
      .table__footer-button-text {
        font-weight: bold;
        letter-spacing: -0.2px;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
        border-bottom: 1px solid transparent;
        transition: .25s ease; }
        .table__footer-button-text:hover {
          border-bottom: 1px solid #1B1C21;
          color: #7E7E82; }
      .table__footer-button-icon {
        margin-left: 9px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .table__footer-button {
          text-align: left;
          display: block; } }
  @media (min-width: 768px) {
    .table {
      display: table;
      width: 100%;
      padding: 24px; } }

@media (min-width: 768px) {
  .card-item--display--none {
    display: none; }
  .section-repair-services-table--display--none {
    display: block; }
  .section-repair-services--display--none {
    display: none; }
  .tr {
    display: table-row; }
  .th {
    display: table-cell;
    padding: 24px; }
  .td {
    display: table-cell; } }

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #B8FFEC; }
  .footer__wrapper-text {
    color: #7E7E82;
    font-size: 14px;
    line-height: 18px;
    margin: 25px; }
    .footer__wrapper-text:first-of-type {
      text-align: left;
      margin-right: 0; }
    .footer__wrapper-text:nth-of-type(2) {
      margin: 25px 20px; }
    .footer__wrapper-text:last-of-type {
      text-align: right; }
    @media (min-width: 320px) and (max-width: 768px) {
      .footer__wrapper-text:nth-of-type(2), .footer__wrapper-text:last-of-type, .footer__wrapper-text:first-of-type {
        text-align: center;
        margin: 0; } }
  @media (min-width: 320px) and (max-width: 768px) {
    .footer__wrapper {
      grid-template-columns: 1fr;
      gap: 16px;
      padding: 16px 4px; } }

.main-services {
  overflow: hidden; }
  .main-services-layout {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 24px;
    margin-left: 16px;
    padding-bottom: 20px;
    margin-bottom: -20px; }
    @media (min-width: 1120px) {
      .main-services-layout {
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 32px; } }
  .main-services__item {
    padding: 6px 16px;
    border: 2px solid transparent;
    margin-right: 9px;
    transition: .25s ease; }
    .main-services__item-link {
      color: #7E7E82;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px; }
    .main-services__item:hover {
      padding: 6px 14px;
      border: 2px solid #B8FFEC;
      background: #FFFFFF;
      border-radius: 6px; }
    @media (min-width: 1120px) {
      .main-services__item {
        margin-bottom: 5px; } }

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
  background: transparent;
  font-family: 'TT Lakes', sans-serif; }

body {
  background-color: #F8F8F8;
  color: #1B1C21; }

@media (min-width: 1120px) {
  .body {
    display: flex; } }


/*# sourceMappingURL=style.css.map*/