.button-modal {
    align-self: flex-end;
    display: flex;
    align-items: center;
    background: $button;
    border-radius: 16px;
    padding: 4px 16px;
    padding-right: 5px;


    &__text {
        font-weight: bold;
        padding-right: 0px;
        font-size: $text-size-button;
        padding-right: 0;
        font-family: "TT Lakes";
        line-height: $text-height-h2;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        background: transparent;
        color: $text-white;
    }

    &__icon {
        background: transparent;
    }
}