.button-modal {
    align-self: flex-end;
    display: flex;
    align-items: center;
    background: $button;
    border-radius: 16px;
    padding: 4px 16px;
    padding-right: 5px;
    cursor: pointer;
    transition: .3s ease;

    &:hover .button-modal__text {
        color: $button;
    }

    &:hover {
        background: $bgModal;
        box-shadow: inset 0px 0px 1px 1px $button;
    }

    &__text {
        font-weight: bold;
        padding-right: 0px;
        font-size: $text-size-button;
        padding-right: 0;
        font-family: "TT Lakes";
        line-height: $text-height-h2;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        background: transparent;
        color: $text-white;
        transition: .3s ease;
    }

    &__icon {
        background: transparent;
        margin-left: 5px;
    }

}

.icon-go {
    cursor: pointer;
    transition: .2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.button-icon {
    cursor: pointer;
}