.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .96);
    mix-blend-mode: normal;
    z-index: 1000;
}

.modal-overlay-chat,
.modal-overlay-call,
.modal-overlay-menu {
    display: none;
    transition: .2s ease;
}

.modal-overlay-menu {
    @media (min-width: 1120px) {
        display: block;
        position: relative;
    }
}

.modal-text {
    color: $button;
}