.main-services {
    overflow: hidden;
}

.main-services-layout {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 24px;
    margin-left: 16px;
    padding-bottom: 20px;
    margin-bottom: -20px;

    @media (min-width: 1120px) {
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 32px;
    }
}

.main-services__item {
    padding: 6px 16px;
    border: 2px solid transparent;
    margin-right: 9px;
    transition: .25s ease;



    &:hover {
        padding: 6px 14px;
        border: 2px solid $border-blue;
        background: $bgModal;
        border-radius: 6px;
    }

    @media (min-width: 1120px) {
        margin-bottom: 5px;
    }
}

.main-services__item-link {
    color: $text-secondary;
    font-size: $text-size-services;
    line-height: $text-height-services;
    letter-spacing: -0.2px;
}