.swiper-pagination {

    & .swiper-pagination-bullet-active {
        background: $text-placeholder;
    }

    & .swiper-pagination-bullet {
        background: $swiper-bullet;
        width: 12px;
        height: 12px;
    }

    &__wrapper {
        margin-top: 16px;
    }

}

.swiper-pagination-tech .swiper-pagination-bullet-active {
    background-color: $text-placeholder;
}

.swiper-pagination-tech .swiper-pagination-bullet {
    background-color: $swiper-bullet;
    width: 12px;
    height: 12px;
}


.swiper-pagination-services {

    & .swiper-pagination-bullet-active {
        background-color: $text-placeholder;
    }

    & .swiper-pagination-bullet {
        background-color: $swiper-bullet;
        width: 12px;
        height: 12px;
    }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center;
    position: relative;
    top: -13px;
}

.swiper-tech {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-services {
    overflow: hidden;
}

@media (min-width: 768px) {

    .swiper-slide {
        width: fit-content;
    }
}