.section-repair-services-table--display--none {
    display: none;
}

.table {

    flex-direction: row;
    overflow-x: auto;
    display: block;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 0;
    }

    &__layout {
        padding: 24px;
    }

    &__card {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 16px;
        margin-left: 8px;
        gap: 16px;
        width: 95%;
        flex-shrink: 0;
        max-width: 300px;
        border-radius: 6px;
        background: $bgModal;



        &:first-of-type {
            @media (min-width: 768px) {
                background: $bgMain;
            }
        }

        &:not(:nth-of-type(1)):not(:nth-of-type(2)):after {
            @media (min-width: 768px) {
                content: '';
                position: absolute;
                left: 20px;
                top: 0;
                height: 1px;
                width: 95%;
                background: $border-gray;
            }
        }


        &-button {

            display: flex;
            align-self: end;
            padding: 5px 12px;
            background: $button;
            border-radius: 16px;
            transition: .3s ease;
            margin-right: -5px;

            &-layout {
                position: absolute;
                margin: 16px;
                bottom: 0px;
                right: 0;

                @media (min-width: 768px) {
                    position: static;
                    background: $bgModal;
                }
            }

            &-text {
                background: transparent;
                color: $bgModal;
                text-transform: uppercase;
                font-weight: bolder;
                font-size: $text-size-button;
                line-height: $text-height-services;
                font-weight: 700;
                letter-spacing: 0.30px;
                transition: .3s ease;
            }

            &:hover .table__card-button-text {
                color: $button;
            }

            &-icon {
                background: transparent;
                margin-left: 8px;
            }

            &:hover {
                background: $bgModal;
                box-shadow: inset 0px 0px 1px 1px $button;
            }

            @media (min-width: 768px) {
                position: static;
            }
        }

        &:first-of-type .table__card-button {
            @media (min-width: 768px) {
                position: relative;
            }
        }

        &:not(:first-of-type) .table__card-item-span {
            @media (min-width: 768px) {
                display: none;
            }
        }

        &-span {
            color: $text-secondary;
            line-height: $text-height-p;
        }

        &-text {
            font-size: $text-size-p;
            line-height: $text-height-p;
            font-weight: 600;
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            background: transparent;

            @media (min-width: 768px) {
                padding: 24px;
                font-size: $text-size-p;
                line-height: $text-height-p;
                font-weight: 500;
                color: $text-primary;
            }

            &-text {
                @media (min-width: 768px) {
                    font-size: $text-size-p;
                    line-height: $text-height-p;
                    color: $text-primary;
                    letter-spacing: 0.2px;
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        padding: 32px;
        padding-bottom: 50px;
        gap: 16px;

        &-text {
            font-size: $text-size-p;
            line-height: $text-height-p;
            letter-spacing: 0.2px;
            color: $text-primary;
            font-weight: 500;
            max-width: 421px;
        }

        &-button {
            display: flex;
            align-items: center;
            cursor: pointer;

            &-text {
                font-weight: bold;
                letter-spacing: -0.2px;
                font-size: $text-size-services;
                line-height: $text-height-services;
                color: $text-primary;
                border-bottom: 1px solid transparent;
                transition: .25s ease;

                &:hover {
                    border-bottom: 1px solid $text-primary;
                    color: $text-secondary;
                }
            }

            &-icon {
                margin-left: 9px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                text-align: left;
                display: block;
            }

        }
    }

    @media (min-width: 768px) {
        display: table;
        width: 100%;
        padding: 24px;
    }

}

@media (min-width: 768px) {

    .card-item--display--none {
        display: none;
    }

    .section-repair-services-table--display--none {
        display: block;
    }

    .section-repair-services--display--none {
        display: none;
    }

    .tr {
        display: table-row;
    }

    .th {
        display: table-cell;
        padding: 24px;
    }

    .td {
        display: table-cell;
    }

}